

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
  background-color: #EEE;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  font-family: 'Hind';
  color: #999;
}
.section-subtitle{
  margin-top: 0px;
}

.navbar-inverse {
  background-color: #444;
}


/* Page header */
.page-header{
  margin: 60px 0 30px;
  border-bottom: none;
}



/* Tweak autocomplete */
.angucomplete-holder input{
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #F9F9F9;
}
.angucomplete-holder input:focus{
  background-color: #FFF;
}




/* Particles spinner */
#pjs-container {
  position: absolute;
  left: 50%;
  top: 50%;

  -webkit-user-select: none; /* Chrome/Safari */        
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE10+ */
       -o-user-select: none;
          user-select: none;

  cursor: crosshair;

}
#pjs-container .pjs-txt-container {
  position: absolute;
  left: -100px;
  top: -20px;
}
#pjs-container .pjs-txt-container .pjs-txt {
  width: 200px;
  text-align: center;
  font-size: 28px;
  color: #FFFFFF;
  font-weight: 300;
}
#particles-js {
  position: absolute;
  margin-left: -80px;
  margin-top: -80px;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: #444;
  overflow: hidden;
}


/* card */
.card-spacer{
  height: 12px;
}
.card{
  padding: 24px 36px 24px 36px;

  border: 1px solid #EEE;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
          box-shadow: 0 2px 4px rgba(0,0,0,0.1);

  background-color: #FFF;
  color: #666;
}
.card p, .card ul, .card ol {
  font-family: 'Hind';
  font-size: 18px;
}
.card blockquote p {
  font-size: 18px;
  color: #666;
}
.card blockquote footer {
  margin-top: 14px;
  font-size: 14px;
  color: #999;
}
.card .viz-description h1{
  font-size:36px
}
.card .viz-description h2{
  font-size:32px
}
.card .viz-description h3{
  font-size:28px
}
.card .viz-description h4{
  font-size:24px
}
.card .viz-description h5{
  font-size:22px
}
.card .viz-description h6{
  font-size:20px
}


/* ==========================================================================
   Home view specific styles
   ========================================================================== */


