<div ng-show="loading">
  LOADING
</div>

<div ng-show="!loading">

  <!-- Choose a topic -->
  <div topic-selector
    md-whiteframe='4'
    series-domain='seriesDomain'
    series-measure='seriesMeasure'
    topic='topic'
    region='region'
  ></div>

  <!-- SLIDER -->
  <div>
    <div
      time-slider
      ng-show="topic"
      class="time-slider-container"
      month="month"
    ></div>
  </div>

  <!-- PLACEHOLDER for when no topic selected -->
  <div ng-show="topic === undefined" class="wizard-placeholder">
    <div wizard-balloon text="'Select a topic'"></div>
  </div>

  <!-- MULTI CURVES -->
  <div layout="row" ng-show="topic" style="background-color: #FFFFFF;">
    <div layout layout-padding class="stacked-curves-left">
      <md-list>
        <h2 class="md-title">
            {{topicName(topic)}}
          <br>
          <span class="md-subhead">in the US states</span>
        </h2>
        

        <md-list-item class="md-2-line">
          <div class="md-list-item-text" layout="column">
            <h3>{{regionName(summary.maxRegion)}} <small class="md-caption">{{summary.max|number}}</small></h3>
            <p style="color: {{colors.curve;}};">Max at selection</p>
          </div>
        </md-list-item>
                
        <md-list-item class="md-2-line" ng-if="region">
          <div class="md-list-item-text" layout="column">
            <h3>{{regionName(region)}} <small class="md-caption">{{summary.currentScore|number}}</small></h3>
            <p>Current region</p>
          </div>
        </md-list-item>
                
        <md-list-item class="md-2-line">
          <div class="md-list-item-text" layout="column">
            <h3>{{regionName(summary.minRegion)}} <small class="md-caption">{{summary.min|number}}</small></h3>
            <p style="color: {{colors.curve;}};">Min at selection</p>
          </div>
        </md-list-item>

      </md-list>
    </div>
    <div stacked-curves-us
      statuses="regionsStatuses"
      data="regionsData"
      region="region"
      month="month"
      summary="summary"
    ></div>
  </div>

  <div hex-us
    ng-show="topic"
    statuses="regionsStatuses"
    data="regionsData"
    set-region="setState"
    region="region"
    month="month"
    ng-click="unselectRegion()"
  ></div>

  <!-- <div layout="row" ng-if="region" layout-padding>
    <div>
      <div class="input-proxy-container">
        Evolution of
      </div>
    </div>
    <div>
      <md-input-container>
        <label>Index</label>
        <md-select ng-model="$parent.topic">
          <md-option ng-repeat="topic in topics" value="{{topic.topic}}">
            {{topic.name}}
          </md-option>
        </md-select>
      </md-input-container>
    </div>
    <div>
      <div class="input-proxy-container">
        in
      </div>
    </div>
    <div>
      <md-input-container>
        <label>Region</label>
        <md-select ng-model="$parent.region">
          <md-option ng-repeat="region in regions" value="{{region}}">
            {{regionName(region)}}
          </md-option>
        </md-select>
      </md-input-container>
    </div>
  </div> -->

  <!-- <div ng-if="region">
    <div simple-curve
      data="chartData"
      month="month"
      style="width: 100%; height: 120px;"
    ></div>
  </div> -->

  <!-- PLACEHOLDER for when no region selected -->
  <div ng-show="topic && region === undefined" class="wizard-placeholder">
    <div wizard-balloon text="'Select a region'"></div>
  </div>

  <div ng-if="region">
    <div ng-repeat="t in topics" class="single-curve" style="background-color: #FFFFFF;">
      <div layout layout-padding class="stacked-curves-left" ng-show="topicsData[t.topic]">
        <md-list>
          <h2 class="md-title">{{t.name}}</h2>

          <md-list-item class="md-2-line">
            <div class="md-list-item-text" layout="column">
              <h3>{{regionName(region)}} <small class="md-caption">{{topicsData[t.topic][month]|number}}</small></h3>
              <p style="color: {{false ? colors.regionHighlight : colors.topicCurve;}};">{{summary.date | monthDate}}</p>
            </div>
          </md-list-item>
        </md-list>
      </div>
      <div simple-curve
        data="topicsData[t.topic]"
        status="topicsStatuses[t.topic]"
        month="month"
        highlight="false"
        style="width: 100%; height: 180px;"
      ></div>
    </div>
  </div>

</div>
