<div ng-show="loading">
  LOADING
</div>

<div ng-show="!loading"
  <div layout="row">
    <h1>Prototype: Explore the index</h1>
  </div>
  <div layout="row">
    <div hexus data="[]" style="width: 100%; height: 300px; background-color: #EEE;"></div>
  </div>
  <div layout="row">
    <div layout="col">
      Region:
      <select ng-model="regionSelect">
        <option ng-repeat="region in regions" value="{{region}}">{{region}}</option>
      </select>
    </div>
    <div layout="col">
      Topic:
      <select ng-model="topicSelect">
        <option ng-repeat="topic in topics" value="{{topic}}">{{topic}}</option>
      </select>
    </div>
    <div layout="col">
      {{data}}
    </div>
  </div>
</div>
