<div ng-show="loading">
  LOADING
</div>

<div ng-show="!loading" layout-padding>
  
  <h1>WORK IN PROGRESS</h1>
  <md-button class="md-raised" ng-href="#/explore-index" target="_blank">Well Being Index prototype</md-button>
  <md-button class="md-raised" ng-href="#/population-data" target="_blank">Population Data prototype</md-button>

  <blockquote>
    <p>
      Too much and for too long, we seemed to have surrendered personal excellence and community values in the mere accumulation of material things.  …Gross National Product counts air pollution and cigarette advertising, and ambulances to clear our highways of carnage.  It counts special locks for our doors and the jails for the people who break them.  It counts the destruction of the redwood and the loss of our natural wonder in chaotic sprawl.  It counts napalm and counts nuclear warheads and armored cars for the police to fight the riots in our cities.It counts Whitman's rifle and Speck's knife, and the television programs which glorify violence in order to sell toys to our children.
    </p>
    <p>
      Yet the gross national product does not allow for the health of our children, the quality of their education or the joy of their play.  It does not include the beauty of our poetry or the strength of our marriages, the intelligence of our public debate or the integrity of our public officials.  It measures neither our wit nor our courage, neither our wisdom nor our learning, neither our compassion nor our devotion to our country, it measures everything in short, except that which makes life worthwhile.
    </p>
    <footer>Robert Kennedy in <cite title="Remarks at the University of Kansas, March 18, 1968">Remarks at the University of Kansas, March 18, 1968</cite></footer>
  </blockquote>

</div>