<style type="text/css">
  .sw-landing-container {
    flex: 100%;
  }

  .sw-landing-slide {
    height: 100vh;
  }
</style>

<section class="sw-landing-container">
  <article class="sw-landing-slide sw-landing-slide-1">
    <h1 translate>QUESTION_1</h1>
    <h3 translate>SUBTITLE_1</h3>
    <md-button class="md-raised">{{ 'CTA_1' | translate }}</md-button>
  </article>

  <article class="sw-landing-slide sw-landing-slide-2">
    <h1 translate>QUESTION_1</h1>
    <h3 translate>SUBTITLE_1</h3>
    <md-button class="md-raised">{{ 'CTA_1' | translate }}</md-button>
  </article>

  <article class="sw-landing-slide sw-landing-slide-3">
    <h1 translate>QUESTION_1</h1>
    <h3 translate>SUBTITLE_1</h3>
    <md-button class="md-raised">{{ 'CTA_1' | translate }}</md-button>
  </article>
</section>
