<section layout="row" flex>
  <md-sidenav
    class="md-sidenav-left"
    md-component-id="left"
    md-is-locked-open="$mdMedia('gt-md')"
    md-disable-backdrop
    md-whiteframe="4"
    id="pop-data-sidebar"
   >
    <div class="profile-sidebar-content">
      
      <!-- This element is just there to remind that opening the sidebar is necessary on a medium screen -->
      <md-button ng-click="close()" class="md-primary" hide-gt-md>
        Close Sidenav Left
      </md-button>

      <md-radio-group ng-model="gender" layout="row">
			  <md-radio-button flex ng-repeat="gen in gender_list" ng-value="gen.value" aria-label="{{ gen.label }}">
	        {{ gen.label }}
			  </md-radio-button>
			</md-radio-group>
			<br>
			<br>

      <div class="profile-form-title"><span translate>AGE</span> <span class="profile-form-subtitle" translate>AGE DETAILS</span></div>
      <div layout>
	      <md-slider flex min="1" max="100" ng-model="age" aria-label="age" id="age-slider" class>
	      </md-slider>
	      <div flex="30" layout layout-align="center center">
	        <input flex type="number" ng-model="age" aria-label="age" aria-controls="age-slider">
	      </div>
	    </div>
	    <md-input-container>
        <label translate>DIPLOMA</label>
        <md-select ng-model="diploma">
          <md-option ng-repeat="dip in diploma_list" value="{{dip.value}}">
            {{dip.label}}
          </md-option>
        </md-select>
      </md-input-container>

	    <md-input-container>
        <label translate>WORK SITUATION</label>
        <md-select ng-model="work">
          <md-option ng-repeat="w in work_list" value="{{w.value}}">
            {{w.label}}
          </md-option>
        </md-select>
      </md-input-container>

      <md-input-container>
        <label translate>MARITAL SITUATION</label>
        <md-select ng-model="wedding">
          <md-option ng-repeat="w in wedding_list" value="{{w.value}}">
            {{w.label}}
          </md-option>
        </md-select>
      </md-input-container>

  		<md-input-container>
        <label translate>CHILDREN</label>
        <md-select ng-model="children">
          <md-option ng-repeat="ch in children_list" value="{{ch.value}}">
            {{ch.label}}
          </md-option>
        </md-select>
      </md-input-container>

	    <md-switch ng-model="french" aria-label="French">
  	  	{{ (french ? 'FRENCH' : 'NOT FRENCH')|translate }}
  		</md-switch>

	    <md-switch ng-model="charity" aria-label="Engaged in a charity">
  	  	{{ (charity ? 'ENGAGED IN CHARITY' : 'NOT ENGAGED IN CHARITY')|translate }}
  		</md-switch>

	    <h4 layout-align="center" translate>HOME FINANCE</h4>

      <div class="profile-form-title"><span translate>INCOME</span> <span class="profile-form-subtitle" translate>INCOME DETAILS</span></div>
      <div layout>
	      <md-slider flex min="0" max="8000" ng-model="income" aria-label="income" id="income-slider" class>
	      </md-slider>
	      <div flex="30" layout layout-align="center center">
	        <input flex type="number" ng-model="income" aria-label="income" aria-controls="income-slider">
	      </div>
	    </div>
      <div class="profile-form-message">{{incomeDecileMessage}}</div>

	    <md-switch ng-model="partnerWorks" aria-label="Partner works">
  	  	{{ (partnerWorks ? 'PARTNER IS WORKING' : 'PARTNER IS NOT WORKING')|translate }}
  		</md-switch>

  		<md-switch ng-model="owner" aria-label="Owner">
  	  	{{ (owner ? 'OWNER' : 'NOT OWNER')|translate }}
  		</md-switch>

    </div>
  </md-sidenav>
  <md-content flex layout-padding>
    <div layout="column" layout-fill layout-align="top center">

      <!-- This element is just there to remind that opening the sidebar is necessary on a medium screen -->
      <div>
        <md-button ng-click="toggleLeft()"
          class="md-primary" hide-gt-md>
          Toggle left
        </md-button>
      </div>

      <div ng-show="loading">
			  LOADING
			</div>

			<div ng-show="!loading">
			  <h1>Prototype: Population Data</h1>
			  <div ng-repeat="coeff in coeffs">
			    <strong>{{coeff.id}}:</strong> 
			    {{coeff.current_life}} | 
			    {{coeff.leisure}} |
			    {{coeff.housing}} |
			    {{coeff.loved_ones}}
			  </div>
			</div>
      
    </div>
    <div flex></div>
  </md-content>
</section>
