<section layout="row" flex>
  <md-sidenav
    class="md-sidenav-left"
    md-component-id="left"
    md-is-locked-open="$mdMedia('gt-md')"
    md-disable-backdrop
    md-whiteframe="4"
    id="pop-data-sidebar"
   >
    <md-content layout-padding layout="column">
      
      <!-- This element is just there to remind that opening the sidebar is necessary on a medium screen -->
      <md-button ng-click="close()" class="md-primary" hide-gt-md>
        Close Sidenav Left
      </md-button>

      <div layout>
	      <div flex="20" layout layout-align="center center">
	        <span class="md-body-1">Age</span>
	      </div>
	      <md-slider flex min="1" max="100" ng-model="color.age" aria-label="age" id="age-slider" class>
	      </md-slider>
	      <div flex="30" layout layout-align="center center">
	        <input flex type="number" ng-model="color.age" aria-label="age" aria-controls="age-slider">
	      </div>
	    </div>

    </md-content>
  </md-sidenav>
  <md-content flex layout-padding>
    <div layout="column" layout-fill layout-align="top center">

      <!-- This element is just there to remind that opening the sidebar is necessary on a medium screen -->
      <div>
        <md-button ng-click="toggleLeft()"
          class="md-primary" hide-gt-md>
          Toggle left
        </md-button>
      </div>

      <div ng-show="loading">
			  LOADING
			</div>

			<div ng-show="!loading">
			  <h1>Prototype: Population Data</h1>
			  <div ng-repeat="coeff in coeffs">
			    <strong>{{coeff.id}}:</strong> 
			    {{coeff.current_life}} | 
			    {{coeff.leisure}} |
			    {{coeff.housing}} |
			    {{coeff.loved_ones}}
			  </div>
			</div>
      
    </div>
    <div flex></div>
  </md-content>
</section>
