<navbar/>

<div class="container-fluid" ng-show="loading">
  <spinner text="LOADING"/>
</div>

<div class="container-fluid" ng-show="!loading">
  
  <div class="row">

    <div class="col-md-8 col-sm-6">
      <div class="page-header">

        <h1>Prototype: Population Data</h1>
        
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-12">
      <div ng-repeat="coeff in coeffs">
        <strong>{{coeff.id}}:</strong> 
        {{coeff.current_life}} | 
        {{coeff.leisure}} |
        {{coeff.housing}} |
        {{coeff.loved_ones}}
      </div>
    </div>
  </div>


  <footer>
    
  </footer>
</div> <!-- /container -->