<md-toolbar>
  <div
    class="toolbar md-toolbar-tools"
    ng-class="{'skin-manifesto': page=='/doc/manifesto', 'skin-population-data': page=='/population-data' || page=='/doc/populationDataMethodology'}"
  >
    <md-button class="md-icon-button" ng-href="#/">
      <md-icon>home</md-icon>
    </md-button>
    <md-button ng-href="#/doc/manifesto">
      <span translate>MANIFESTO</span>
    </md-button>
    <md-button ng-href="#/explore-index">
      <span translate>EXPLORE_INDEX</span>
    </md-button>
    <md-button ng-href="#/population-data">
      <span translate>POPULATION_DATA</span>
    </md-button>

    <span flex></span>
    
    <md-button ng-if="descriptionLink" ng-href="{{descriptionLink}}">
      <span translate>DESCRIPTION</span>
    </md-button>
    <md-button ng-if="methodologyLink" ng-href="{{methodologyLink}}">
      <span translate>METHOD</span>
    </md-button>
    <md-button class="md-warn" ng-href="#/doc/termsOfUse">
      <span translate>LEGAL</span>
    </md-button>
    <md-button ng-click="toggleLanguage()">
      <md-icon>language</md-icon> {{language}}
    </md-button>
  </div>
</md-toolbar>
