<div
  layout="row"
  layout-xs="column"
  layout-sm="column"
  layout-padding
  class="display-before-sticky"
>
  <div layout="column" flex="50" flex-sm="100" flex-xs="100">
    <div>
      <h3 translate>SERIES_DOMAIN_INTRO</h3>
    </div>
    <div>
      <md-grid-list md-cols="2" md-cols-lg="3" md-gutter="6px" md-row-height="50px">
        <md-grid-tile
          ng-repeat="item in seriesDomain"
          class="domain-tile"
          ng-class="{highlight: item.topic == topic}"
          ng-click="setTopic(item.topic)"
          md-ink-ripple="{{colors.curve}}"
        >
          {{item.name}}
        </md-grid-tile>
      </md-grid-list>
    </div>
  </div>
  <div layout="column" flex="50" flex-sm="100" flex-xs="100">
    <div>
      <h3 translate>SERIES_MEASURE_INTRO</h3>
    </div>
    <div>
      <md-grid-list md-cols="2" md-cols-lg="3" md-gutter="6px" md-row-height="50px">
        <md-grid-tile
          ng-repeat="item in seriesMeasure"
          class="measure-tile"
          ng-class="{highlight: item.topic == topic}"
          ng-click="setTopic(item.topic)"
          md-ink-ripple="{{colors.curve}}"
        >
          {{item.name}}
        </md-grid-tile>
      </md-grid-list>
    </div>   
  </div>
</div>

<!-- Sticky mode -->
<div
  class="display-when-sticky"
  style="height: {{stickyModeHeight}}px; display: none;"
>
  <div layout="row" layout-padding>
    <div>
      <div class="input-proxy-container" translate>
        TOP_SENTENCE: EVOLUTION OF
      </div>
    </div>
    <div>
      <md-input-container class="md-accent">
        <label translate>INDEX</label>
        <md-select ng-model="$parent.topic" class="md-accent">
          <md-option ng-repeat="topic in topics" value="{{topic.topic}}" class="md-accent">
            {{topic.name}}
          </md-option>
        </md-select>
      </md-input-container>
    </div>
    <div>
      <div class="input-proxy-container">
        <span translate>TOP_SENTENCE: IN</span>
        <span ng-show="!region" translate>
          TOP_SENTENCE: THE US
        </span>
      </div>
    </div>
    <div ng-show="region">
      <md-input-container class="md-accent">
        <label translate>REGION</label>
        <md-select ng-model="$parent.region" class="md-accent">
          <md-option ng-repeat="region in regions" value="{{region}}" class="md-accent">
            {{regionName(region)}}
          </md-option>
        </md-select>
      </md-input-container>
    </div>
  </div>
</div>
