.input-proxy-container {
  padding-top: 27px;
}

/* Time slider */

div[time-slider] {
	z-index: 10000;
}
.time-slider {
  height: 100px;
  background-color: #FFF;
}
.time-slider-slider{
  width: 100%;
  margin-left: 200px;
  margin-right: 24px;
  cursor: pointer;
}
.time-slider-left {
	width: 200px;
	height: 100px;
	position: absolute;
	background-color: #F00;
}

/* Misc D3 classes */

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}