.input-proxy-container {
  padding-top: 25px;
}


/* Misc D3 classes */

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}